<h2>Create</h2>
<form [formGroup]="form">
    <input type="text" placeholder="Title" name="title" formControlName="title"/> 
    <div class="field">
        <label for="category">Category</label>
        <select name="category" id="category" title="Category" formControlName="category_id">
            <option [value]="null">None</option>
            <option *ngFor="let category of categories.data" [value]="category.id">{{category.name}}</option>
        </select>
    </div>
    <input type="text" placeholder="Keywords" name="keywords" formControlName="keywords"/> 
    <input type="text" placeholder="Description" name="description" formControlName="description"/> 
    <input type="text" placeholder="Content" name="content" formControlName="content"/> 

    <button type="submit" (click)="create()" [disabled]="!form.valid">Create</button>
    <button type="reset" routerLink="/blogs" routerLinkActive="active">Cancel</button>
</form>