<h2>Create</h2>
<div class="inputs">
    <br/>
    <input type="text" placeholder="Title" /> <br />
    <input type="text" placeholder="Author" /> <br />
    <input type="list" placeholder="Category" /> <br />
    <input type="text" placeholder="Keywords" /> <br />
    <input type="text" placeholder="Description" /> <br />
    <input type="text" placeholder="Content" /> <br />

    <button type="submit" (click)="create()">Create</button>
    <button type="reset" routerLink="/blogs" routerLinkActive="active">Cancel</button>
</div>