<a routerLink="/mail" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon aria-hidden="false" aria-label="Mail" fontIcon="mail" /></a>
<a routerLink="/blogs/owned" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon aria-hidden="false" aria-label="My Blogs" fontIcon="menu_book" /></a>
<a routerLink="/terminal" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon aria-hidden="false" aria-label="Terminal" fontIcon="terminal" /></a>
<a role="button" tabindex="0" (click)="logout()"><mat-icon aria-hidden="false" aria-label="Logout" fontIcon="logout" /></a>
<a routerLink="/settings" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon aria-hidden="false" aria-label="Settings" fontIcon="settings" /></a>