:root {
    --dark-gray: hsl(0, 0%, 12%);
    --dark-gray-border: hsl(0, 0%, 20%);
    --dark-gray-text: hsl(0, 0%, 85%);

    --error: hsl(5, 50%, 50%);
    --error-text: hsl(5, 50%, 10%);
    --warning: hsl(38, 50%, 50%);
    --warning-text: hsl(38, 50%, 10%);
    --informational: hsl(193, 50%, 50%);
    --informational-text: hsl(193, 50%, 10%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    color: inherit;
}

body {
    position: relative;
    height: 100vh;
    background-color: var(--dark-gray);
    color: var(--dark-gray-text);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    padding: 1em;
}

input {
    grid-column: 1 / 3;

    background-color: var(--dark-gray);
    border: 1px dashed var(--dark-gray-border);

    padding: 1em;
}

input.ng-invalid:not(.ng-untouched) {
    border-color: var(--error);
}

a.button,
button {
    display: inline-block;
    cursor: pointer;
    background-color: var(--dark-gray);
    border: 1px dashed var(--dark-gray-border);

    padding: 1em;
}

a.button {
    display: inline-block;
    font-size: 0.8rem;
    text-decoration: none;
    text-align: center;

    padding-top: 1.15em;
    padding-bottom: 0.85em;
}

.cdk-overlay-container {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 1em;
    width: 20em;
    height: 100vh;
    padding: 1em;
}

.cdk-global-overlay-wrapper {
    display: block;
    position: relative;
}

.mat-mdc-dialog-container {
    --mdc-dialog-container-color: transparent !important;
    --mdc-dialog-container-elevation-shadow: none !important;
    --mdc-dialog-container-shadow-color: transparent !important;
    --mdc-dialog-container-shape: 0 !important;
}