<h2>Blog owned</h2>

<div class="list">
    <div class="element" *ngFor="let blog of blogs">
        <p>{{blog.title}}</p>
        <a routerLink="/blogs/{{blog.id}}" routerLinkActive="active" ariaCurrentWhenActive="page">View</a>
        <a routerLink="/blogs/{{blog.id}}/edit" routerLinkActive="active" ariaCurrentWhenActive="page">Edit</a>
    </div>
</div>
<div class="list-navigation">
    <a *ngIf="previus !== null" routerLink="/blogs?page={{previus}}" routerLinkActive="active" ariaCurrentWhenActive="page">Previus</a>
    <a *ngIf="previus === null" class="disabled">Previus</a>
    <a *ngIf="next !== null" routerLink="/blogs?page={{next}}" routerLinkActive="active" ariaCurrentWhenActive="page">Next</a>
    <a *ngIf="next === null" class="disabled">Next</a>
</div>